/* General Style */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

article {
    margin: auto 0;
}

article h1 {
    text-align: center;
    font-size: 3em;
    margin: 5px;
}

/* Style navigation */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #9fc5f8;
    border: black solid 3px;
}

.navbar {
    padding-right: 15px;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo {
    padding-left: 15px;
}

li a {
    color: #3474b1;
}

nav ul {
    list-style-type: none;
    text-align: right middle;
    display: flex;
}

nav li {
    padding: 5px;
}

/* Style footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #9fc5f8;
    border: black solid 3px;
}

.openHours {
    text-align: left;
    padding-left: 30px;
}

.review {
    justify-content: center;
    max-width: 30%;
}

.address {
    text-align: left;
    padding-right: 60px;
}

/* Single column footer for small screens */
@media screen and (max-width: 670px)
{
    footer {
        flex-direction: column;
        align-items: center;
    }

    .review {
        max-width: 80%;
    }

    .address {
        padding-right: 0%;
    }
}

/* Style index */
.indexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    margin-bottom: auto;
}

.indexTop {
    display: flex;
    justify-content: center;
}

.indexTop img{
    height: 300px;
    width: 400px;
}

.indexContainer img {
    width: 320px;
    height: 220px;
}

.text {
    position: relative;
    top: -50%;
    text-align: center;
    color: white;
    font-size: 50px;
}

.text a{
    text-decoration: none;
    color: white;
}

/* Style feedback */
fieldset {
    border: 0;
    margin-top: 40px;
}

.feedbackRow {
    display: flex;
    overflow: auto;
}

.labels {
    width: 40%;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 15px;
}

.entries {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lastEntries {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

input[type=text], input[type=email] {
    width: 100%;
    height: 100%;
    border: black solid 3px;
}

input[type=submit] {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 20px;
    background-color: white;
    box-shadow: 3px 2.5px;
}

textarea {
    width: 100%;
    height: 200px;
    border: black solid 3px;
    resize: none;
}

/* Style for food items and shopping cart */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px;
}

.row {
    display: flex;
    align-items: flex-end;
}

.item1 {
    flex-grow: 20;
    font-size: 20px;
}

select{
    max-width: fit-content;
}

.item2 {
    flex-grow: 1;
    text-align: right;
}

.item3 {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
}

.content p{
    margin-top: 5px;
    margin-bottom: 0;
}

button {
    border: none;
    background: none;
}

img {
    height: 200px;
    width: 300px;
}

.shoppingcart {
    height: 25px;
    width: 25px;
}


#cart {
    text-align: right;
    padding-right: 10px;
}